<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <script defer src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <title>Stock Prices Dashboard</title>
</head>
<body>
    <header>
    </header>
    <div class="container">
        <section id="chartSection">
            <div class="chart-container">
                <canvas id="stockChart"></canvas>
            </div>
            <div class="loading" id="loading">Loading...</div>
        </section>
    </div>
    <footer>
        <p>&copy; 2023 Stock Swift</p>
    </footer>
    <script defer src="static/script.js"></script>
</body>
</html>
